		#head{
			background-color: #621f86;
			font-size: 40px;
			padding: 20px;
			text-align: center;
			color: white;
		}

		.logo{
			position: relative;
			width: 300px;
			height: 300px;
			margin-right: 60px;
			border-radius: 50%;
		}

		.contact{
			position: relative;
			float: right;
			padding: 5px 30px;
			border-radius: 50px;
			color: white;
			text-decoration: none;
		}

		p.isi{
			margin-bottom: 70px;
			margin-left: 30px;
		}

		p.blue{
			color: blue;
			letter-spacing: 10px;
			text-align: left;
			margin-left: 30px;
			margin-bottom: 30px;
		}

		h1.judul{
			font-size: 42px;
			margin-top: 12%;
			margin-left: 30px;
			margin-bottom: 20px;
			font-weight: bold;
		}

		a.subs{
			padding: 10px 30px;
			border-radius: 50px;
			color: white;
			text-decoration: none;
			margin-left: 30px;
		}

		a:hover{
			opacity: 0.7;

		}



